body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.header {
  background-image: url("images/headerbg.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-left: 4rem;
  margin-right: 4rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tagline {
  color: white;
  background-color: #E29E81;
  padding: 10px;
  border-radius: 10px;
}

.hero-content {
  /* background-color: #B8B8BE; */
  height: 200px;
  margin-top: 5rem;
}

#products {
  text-align: center;
}

.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product-container img{
  width: 300px;
}

.button {
  padding: 15px 20px;
  border: none;
}

.button-shop-now {
  background-color: black;
  color: white;
}

.button-shop-now:hover {
  background-color: #fff;
  border: 1px solid gray;
  color: black;
}

.button-read-more {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.button-shop-now:hover {
  background-color: black;
  color: white;
}

/* showcase section */
.showcase {
  background-color: gray;
  margin-top: 50px;
  display: flex;
}

.showcase-image {
  background-color: #f44;
  width: 70vh;
}

.showcase img {
width: 80%;
}